<%- include('header'); -%>

<style type="text/css">
  .detailBox {
    width:320px;
    border:1px solid #bbb;
    margin:50px;
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
/*.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}*/

/*.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}*/
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px 0;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.img-circle {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.img-circle img {
    width:100%;
    border-radius:50%;
}
/*.commentText p {
    margin:0;
}*/
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
/*.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
}*/
</style>

<div class="site-blocks-cover overlay" style="background-image: url(user/images/hero_bg_2.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row align-items-center justify-content-center text-center">
      <div class="col-md-10">
        <span class="d-inline-block text-white px-3 mb-3 property-offer-type rounded">Chi tiết bất động sản</span>
        <h1 class="mb-2">625 S. Berendo St</h1>
        <p class="mb-5"><strong class="h2 text-success font-weight-bold">$1,000,500</strong></p>
      </div>
    </div>
  </div>
</div>

<div class="site-section site-section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-8" style="margin-top: -150px;">
        <div class="mb-5">
          <div class="slide-one-item home-slider owl-carousel">
            <div><img src="user/images/img_1.jpg" alt="Image" class="img-fluid"></div>
            <div><img src="user/images/img_2.jpg" alt="Image" class="img-fluid"></div>
            <div><img src="user/images/img_3.jpg" alt="Image" class="img-fluid"></div>
          </div>
        </div>
        <div class="bg-white">
          <div class="row mb-5">
            <div class="col-md-6">
              <strong class="text-success h1 mb-3">$1,000,500</strong>
            </div>
            <div class="col-md-6">
              <ul class="property-specs-wrap mb-3 mb-lg-0  float-lg-right">
              <li>
                <span class="property-specs">Phòng ngủ</span>
                <span class="property-specs-number">2 <sup>+</sup></span>
                
              </li>
              <li>
                <span class="property-specs">Phòng tắm</span>
                <span class="property-specs-number">2</span>
                
              </li>
              <li>
                <span class="property-specs">SQ FT</span>
                <span class="property-specs-number">7,000</span>
                
              </li>
            </ul>
            </div>
          </div>
          <div class="row mb-5">
            <div class="col-md-6 col-lg-4 text-left border-bottom border-top py-3">
              <span class="d-inline-block text-black mb-0 caption-text">Kiểu nhà</span>
              <strong class="d-block">Condo</strong>
            </div>
            <div class="col-md-6 col-lg-4 text-left border-bottom border-top py-3">
              <span class="d-inline-block text-black mb-0 caption-text">Năm xây dựng</span>
              <strong class="d-block">2018</strong>
            </div>
            <div class="col-md-6 col-lg-4 text-left border-bottom border-top py-3">
              <span class="d-inline-block text-black mb-0 caption-text">Giá/Sqft</span>
              <strong class="d-block">$520</strong>
            </div>
          </div>
          <h2 class="h4 text-black">Thêm thông tin</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aperiam perferendis deleniti vitae asperiores accusamus tempora facilis sapiente, quas! Quos asperiores alias fugiat sunt tempora molestias quo deserunt similique sequi.</p>
          <p>Nisi voluptatum error ipsum repudiandae, autem deleniti, velit dolorem enim quaerat rerum incidunt sed, qui ducimus! Tempora architecto non, eligendi vitae dolorem laudantium dolore blanditiis assumenda in eos hic unde.</p>
          <p>Voluptatum debitis cupiditate vero tempora error fugit aspernatur sint veniam laboriosam eaque eum, et hic odio quibusdam molestias corporis dicta! Beatae id magni, laudantium nulla iure ea sunt aliquam.</p>

          <div class="row mt-5">
            <div class="col-12">
              <h2 class="h4 text-black mb-3">Bộ sưu tập</h2>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
              <a href="user/images/img_1.jpg" class="image-popup gal-item"><img src="user/images/img_1.jpg" alt="Image" class="img-fluid"></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
              <a href="user/images/img_2.jpg" class="image-popup gal-item"><img src="user/images/img_2.jpg" alt="Image" class="img-fluid"></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
              <a href="user/images/img_3.jpg" class="image-popup gal-item"><img src="user/images/img_3.jpg" alt="Image" class="img-fluid"></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
              <a href="user/images/img_4.jpg" class="image-popup gal-item"><img src="user/images/img_4.jpg" alt="Image" class="img-fluid"></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
              <a href="user/images/img_5.jpg" class="image-popup gal-item"><img src="user/images/img_5.jpg" alt="Image" class="img-fluid"></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
              <a href="user/images/img_6.jpg" class="image-popup gal-item"><img src="user/images/img_6.jpg" alt="Image" class="img-fluid"></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
              <a href="user/images/img_7.jpg" class="image-popup gal-item"><img src="user/images/img_7.jpg" alt="Image" class="img-fluid"></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
              <a href="user/images/img_8.jpg" class="image-popup gal-item"><img src="user/images/img_8.jpg" alt="Image" class="img-fluid"></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
              <a href="user/images/img_1.jpg" class="image-popup gal-item"><img src="user/images/img_1.jpg" alt="Image" class="img-fluid"></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
              <a href="user/images/img_2.jpg" class="image-popup gal-item"><img src="user/images/img_2.jpg" alt="Image" class="img-fluid"></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
              <a href="user/images/img_3.jpg" class="image-popup gal-item"><img src="user/images/img_3.jpg" alt="Image" class="img-fluid"></a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
              <a href="user/images/img_4.jpg" class="image-popup gal-item"><img src="user/images/img_4.jpg" alt="Image" class="img-fluid"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 pl-md-5">

        <div class="bg-white widget border rounded">

          <h3 class="h4 text-black widget-title mb-3">Liên hệ</h3>
          <div>
            <div>
              <label for="name">Họ tên</label>
              <span id="name" value="Nguyễn Văn A"></span>
            </div>
            <div>
              <label for="email">Email</label>
              <span id="email" value="abcxyz@gmail.com"></span>
            </div>
            <div>
              <label for="phone">Điện thoại</label>
              <span id="phone" value="012346789"></span>
            </div>
            <div>
              <label for="phone">Địa chỉ</label>
              <span id="phone" value="24/3 Nguyễn Văn Cừ, Quận 5, Sài Gòn, Việt Nam"></span>
            </div>
<!--             <div>
              <button id="phone" class="btn btn-primary" value="Gửi"></button>
            </div> -->
          </div>
        </div>

        <div class="bg-white widget border rounded">
          <h3 class="h4 text-black widget-title mb-3">Báo cáo bài đăng</h3>
          <form action="" class="form-contact-agent">
            <div class="form-group">
              <input type="checkbox">  Không liên lạc được
            </div>
            <div class="form-group">
              <input type="checkbox">  Trùng với tin rao khác"
            </div>
            <div class="form-group">
              <input type="checkbox">  Tin không có thật"
            </div>
            <div class="form-group">
              <input type="checkbox">  Bất động sản đã bán"
            </div>
            <div class="form-group">
              <input type="submit" id="phone" class="btn btn-primary" value="Gửi">
            </div>
          </form>
        </div>
        <div class="bg-white widget border rounded">
          <div class="titleBox">
            <label>Bình luận</label>
          </div>
          <div class="actionBox">
            <ul class="commentList">
              <li>
                <div class="img-circle">
                  <img src="http://placekitten.com/50/50" />
                </div>
                <div class="commentText">
                  <b>Nguyễn Văn B</b>
                  <p class="">Hello this is a test comment.</p> <span class="date sub-text">on March 5th, 2014</span>
                </div>
              </li>
              <hr>
              <li>
                <div class="img-circle">
                  <img src="http://placekitten.com/45/45" />
                </div>
                <div class="commentText">
                  <b>Nguyễn Văn A</b>
                  <p class="">Hello this is a test comment and this comment is particularly very long and it goes on and on and on.</p> <span class="date sub-text">on March 5th, 2014</span>
                </div>
              </li>
              <hr>
              <li>
                <div class="img-circle">
                  <img src="http://placekitten.com/40/40" />
                </div>
                <div class="commentText">
                  <b>Nguyễn Văn B</b>
                  <p class="">Hello this is a test comment.</p> <span class="date sub-text">on March 5th, 2014</span>
                </div>
              </li>
              <hr>
            </ul>
            <form class="form-inline" role="form">
              <div class="form-group">
                <input class="form-control" type="text" placeholder="Nhập bình luận" />
              </div>
              <div class="form-group">
                <button class="btn btn-default">Thêm</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="site-section site-section-sm bg-light">
  <div class="container">

    <div class="row">
      <div class="col-12">
        <div class="site-section-title mb-5">
          <h2>Bất động sản liên quan</h2>
        </div>
      </div>
    </div>
  
    <div class="row mb-5">
      <div class="col-md-6 col-lg-4 mb-4">
        <a href="chi_tiet" class="prop-entry d-block">
          <figure>
            <img src="user/images/img_1.jpg" alt="Image" class="img-fluid">
          </figure>
          <div class="prop-text">
            <div class="inner">
              <span class="price rounded">$1,930,000</span>
              <h3 class="title">853 S Lucerne Blvd</h3>
              <p class="location">Los Angeles, CA 90005</p>
            </div>
            <div class="prop-more-info">
              <div class="inner d-flex">
                <div class="col">
                  <span>Khu vực:</span>
                  <strong>240m<sup>2</sup></strong>
                </div>
                <div class="col">
                  <span>Phòng ngủ:</span>
                  <strong>2</strong>
                </div>
                <div class="col">
                  <span>Phòng tắm:</span>
                  <strong>2</strong>
                </div>
                <div class="col">
                  <span>Số nhà kho:</span>
                  <strong>1</strong>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <a href="chi_tiet" class="prop-entry d-block">
          <figure>
            <img src="user/images/img_2.jpg" alt="Image" class="img-fluid">
          </figure>
          <div class="prop-text">
            <div class="inner">
              <span class="price rounded">$2,438,000</span>
              <h3 class="title">853 S Lucerne Blvd</h3>
              <p class="location">Los Angeles, CA 90005</p>
            </div>
            <div class="prop-more-info">
              <div class="inner d-flex">
                <div class="col">
                  <span>Area:</span>
                  <strong>240m<sup>2</sup></strong>
                </div>
                <div class="col">
                  <span>Phòng ngủ:</span>
                  <strong>2</strong>
                </div>
                <div class="col">
                  <span>Phòng tắm:</span>
                  <strong>2</strong>
                </div>
                <div class="col">
                  <span>Số nhà kho:</span>
                  <strong>1</strong>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <a href="chi_tiet" class="prop-entry d-block">
          <figure>
            <img src="user/images/img_3.jpg" alt="Image" class="img-fluid">
          </figure>
          <div class="prop-text">
            <div class="inner">
              <span class="price rounded">$5,320,000</span>
              <h3 class="title">853 S Lucerne Blvd</h3>
              <p class="location">Los Angeles, CA 90005</p>
            </div>
            <div class="prop-more-info">
              <div class="inner d-flex">
                <div class="col">
                  <span>Area:</span>
                  <strong>240m<sup>2</sup></strong>
                </div>
                <div class="col">
                  <span>Phòng ngủ:</span>
                  <strong>2</strong>
                </div>
                <div class="col">
                  <span>Phòng tắm:</span>
                  <strong>2</strong>
                </div>
                <div class="col">
                  <span>Số nhà kho:</span>
                  <strong>1</strong>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

    </div>
  </div>
</div>
<%- include('footer'); -%>

<!--         <div class="bg-white widget border rounded">

          <h3 class="h4 text-black widget-title mb-3">Liên hệ</h3>
          <form action="" class="form-contact-agent">
            <div class="form-group">
              <label for="name">Họ tên</label>
              <input type="text" id="name" class="form-control">
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" id="email" class="form-control">
            </div>
            <div class="form-group">
              <label for="phone">Điện thoại</label>
              <input type="text" id="phone" class="form-control">
            </div>
            <div class="form-group">
              <input type="submit" id="phone" class="btn btn-primary" value="Gửi">
            </div>
          </form>
        </div> -->