<!DOCTYPE html>
<html lang="vi">
<head>
	<title>HomeSpace</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900|Roboto+Mono:300,400,500"> 
	<link rel="stylesheet" href="user/fonts/icomoon/style.css">

	<link rel="stylesheet" href="user/css/bootstrap.min.css">
	<link rel="stylesheet" href="user/css/magnific-popup.css">
	<link rel="stylesheet" href="user/css/jquery-ui.css">
	<link rel="stylesheet" href="user/css/owl.carousel.min.css">
	<link rel="stylesheet" href="user/css/owl.theme.default.min.css">
	<link rel="stylesheet" href="user/css/bootstrap-datepicker.css">
	<link rel="stylesheet" href="user/css/mediaelementplayer.css">
	<link rel="stylesheet" href="user/css/animate.css">
	<link rel="stylesheet" href="user/fonts/flaticon/font/flaticon.css">
	<link rel="stylesheet" href="user/bootstrap.css">
	<link rel="stylesheet" href="user/main.css">
	<link rel="stylesheet" href="user/css/fl-bigmug-line.css">
	<link rel="stylesheet" href="user/css/aos.css">

	<link rel="stylesheet" href="user/css/style.css">
	<style>
	.my{
		zoom: 110%;
	}
</style>
</head>
<body>

	<div class="site-loader"></div>
	<div class=my>
		<div class="site-wrap">

			<div class="site-mobile-menu">
				<div class="site-mobile-menu-header">
					<div class="site-mobile-menu-close mt-3">
						<span class="icon-close2 js-menu-toggle"></span>
					</div>
				</div>
				<div class="site-mobile-menu-body"></div>
			</div> <!-- .site-mobile-menu -->

			<div class="border-bottom bg-white top-bar">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-6 col-md-6">
							<p class="mb-0">
								<a href="#" class="mr-3"><span class="text-black fl-bigmug-line-phone351"></span> <span class="d-none d-md-inline-block ml-2">+2 102 3923 3922</span></a>
								<a href="#"><span class="text-black fl-bigmug-line-email64"></span> <span class="d-none d-md-inline-block ml-2">nhom8@student.hcmus.edu.vn</span></a>
							</p>  
						</div>
						<div class="col-6 col-md-6 text-right">
							<a href="dang_nhap" class="mr-3 btn-sm btn-xs btn-warning" role="button">Đăng nhập</a>
		<!--             <a href="#" class="mr-3"><span class="text-black icon-facebook"></span></a>
           					<a href="#" class="mr-3"><span class="text-black icon-twitter"></span></a>
           					<a href="#" class="mr-0"><span class="text-black icon-linkedin"></span></a> -->
           				</div>
           			</div>
           		</div>

           	</div>
           	<div class="site-navbar">
           		<div class="container py-1">
           			<div class="row align-items-center">
           				<div class="col-8 col-md-8 col-lg-4">
           					<h1 class=""><a href="" class="h5 text-uppercase text-black"><strong>HomeSpace<span class="text-danger">.</span></strong></a></h1>
           				</div>
           				<div class="col-4 col-md-4 col-lg-8">
           					<nav class="site-navigation text-right text-md-right" role="navigation">

           						<div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

           						<ul class="site-menu js-clone-nav d-none d-lg-block">
           							<li class="active">
           								<a href="trang_chu">Trang chủ</a>
           							</li>
           							<li class="has-children">
           								<a href="bat_dong_san">Bất động sản</a>
           								<ul class="dropdown">
           									<li><a href="#">Mua</a></li>
           									<li><a href="#">Thuê</a></li>
           									<li><a href="#">Cho thuê</a></li>
           									<li class="has-children">
           										<a href="#">Tìm kiếm</a>
           										<ul class="dropdown">
           											<li><a href="tim_kiem">Vị trí</a></li>
           											<li><a href="tim_kiem">post</a></li>
           											<li><a href="#">Menu Three</a></li>
           										</ul>
           									</li>
           								</ul>
           							</li>
           							<li>
           								<a href="blog">Blog</a>
           							</li>
           							<li>
           								<a href="gioi_thieu">Giới thiệu</a>
           							</li>
           							<li>
           								<a href="lien_he">Liên hệ</a>
           							</li>
           							<li>
           								<a href="gio_hang">Giỏ hàng</a>
           							</li>
           						</ul>
           					</nav>
           				</div>


           			</div>
           		</div>
           	</div>
           </div>
           <div class="container">
           	<div class="panel panel-profile">
           		<div class="clearfix">
           			<!-- LEFT COLUMN -->
           			<div class="profile-left">
           				<!-- PROFILE HEADER -->
           				<div class="profile-header">
           					<div class="overlay"></div>
           					<div class="profile-main">
           						<img src="user/images/user-medium.png" class="img-circle" alt="Avatar">
           						<h3 class="name">user.name</h3>
           						<span class="online-status status-available">Available</span>
           					</div>
           					<div class="profile-stat">
           						<div class="row">
           							<div class="col-md-4 stat-item">
           								45 <span>Projects</span>
           							</div>
           							<div class="col-md-4 stat-item">
           								15 <span>Thành tựu</span>
           							</div>
           							<div class="col-md-4 stat-item">
           								2174 <span>Điểm</span>
           							</div>
           						</div>
           					</div>
           				</div>
           				<!-- END PROFILE HEADER -->
           				<!-- PROFILE DETAIL -->
           				<div class="profile-detail">
           					<div class="profile-info">
           						<h4 class="heading">Thông tin cơ bản</h4>
           						<ul class="list-unstyled list-justify">
           							<li>Id <span>111</span></li>
           							<li>Email <span>2222</span></li>
           							<li>Mobile <span>333</span></li>
           							<li>Website <span><a href="">Chạm vào đây</a></span></li>
           						</ul>
           					</div>
           					<div class="profile-info">
           						<h4 class="heading">Liên kết</h4>
           						<ul class="list-inline social-icons">
           							<li><a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
           							<li><a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
           							<li><a href="#" class="google-plus-bg"><i class="fa fa-google-plus"></i></a></li>
           							<li><a href="#" class="github-bg"><i class="fa fa-github"></i></a></li>
           						</ul>
           					</div>
           					<div class="profile-info">
           						<h4 class="heading">Giới thiệu</h4>
           						<p>:V:V:V:V.</p>
           					</div>
           					<div class="text-center"><a href="chinh_sua_profile" class="btn btn-primary">Chỉnh sửa thông tin</a>
           					</div>
           				</div>
           				<!-- END PROFILE DETAIL -->
           			</div>
           			<!-- END LEFT COLUMN -->
           			<!-- RIGHT COLUMN -->
           			<div class="profile-right">
           				<h4 class="heading">Thành tựu của tôi</h4>
           				<!-- AWARDS -->
           				<div class="awards">
           					<div class="row">
           						<div class="col-md-3 col-sm-6">
           							<div class="award-item">
           								<div class="hexagon">
           									<span class="lnr lnr-sun award-icon"></span>
           								</div>
           								<span>Ý tưởng vàng</span>
           							</div>
           						</div>
           						<div class="col-md-3 col-sm-6">
           							<div class="award-item">
           								<div class="hexagon">
           									<span class="lnr lnr-clock award-icon"></span>
           								</div>
           								<span>Thời gian vàng</span>
           							</div>
           						</div>
           						<div class="col-md-3 col-sm-6">
           							<div class="award-item">
           								<div class="hexagon">
           									<span class="lnr lnr-magic-wand award-icon"></span>
           								</div>
           								<span>Người giải quyết vấn đề</span>
           							</div>
           						</div>
           						<div class="col-md-3 col-sm-6">
           							<div class="award-item">
           								<div class="hexagon">
           									<span class="lnr lnr-heart award-icon"></span>
           								</div>
           								<span>Được yêu thích</span>
           							</div>
           						</div>
           					</div>
           					<div class="text-center"><a href="#" class="btn btn-default">Xem tất cả thành tựu</a></div>
           				</div>
           				<!-- END AWARDS -->
           				<div>
           					<h2>Xin điền thông tin</h2>
           					<form >
           						<div class="form-group">
           							<label for="email">Email:</label>
           							<input type="email" class="form-control" id="email" placeholder="Nhập email" name="email">
           						</div>
           						<div class="form-group">
           							<label for="pwd">Mật khẩu:</label>
           							<input type="password" class="form-control" id="pwd" placeholder="Nhập mật khẩu" name="pswd">
           						</div>
           						<div class="form-group">
           							<label for="email">Sinh nhật:</label>
           							<input type="email" class="form-control" id="birth" placeholder="Nhập ngày sinh" name="email">
           						</div>
           						<div class="form-group form-check">
           							<label class="form-check-label">
           								<input class="form-check-input" type="checkbox" name="remember">Bạn là nam?
           							</label>
           						</div>
           						<button type="submit" class="btn btn-primary">Cập nhật</button>
           					</form>
           				</div>
           			</div>
           			<!-- END RIGHT COLUMN -->
           		</div>

           	</div>
           </div>
       </div>
       <script src="user/js/jquery.js"></script>
       <script src="user/js/jquery-3.3.1.min.js"></script>
       <script src="user/js/jquery-migrate-3.0.1.min.js"></script>
       <script src="user/js/jquery-ui.js"></script>
       <script src="user/js/popper.min.js"></script>
       <script src="user/js/bootstrap.min.js"></script>
       <script src="user/js/owl.carousel.min.js"></script>
       <script src="user/js/mediaelement-and-player.min.js"></script>
       <script src="user/js/jquery.stellar.min.js"></script>
       <script src="user/js/jquery.countdown.min.js"></script>
       <script src="user/js/jquery.magnific-popup.min.js"></script>
       <script src="user/js/bootstrap-datepicker.min.js"></script>
       <script src="user/js/aos.js"></script>
       <script src="user/js/main.js"></script>
   </body>
   </html>