<%- include('header'); -%>
<div class="site-blocks-cover inner-page-cover overlay" style="background-image: url(user/images/hero_bg_2.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
	<div class="container">
		<div class="row align-items-center justify-content-center text-center">
			<div class="col-md-10">
				<h1 class="mb-2">Tìm kiếm</h1>
				<div><a href="trang_chu">Trang chủ</a> <span class="mx-2 text-white">&bullet;</span> <strong class="text-white">Blog</strong></div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<form class="row mb-5">

		<div class="col-sm-6 col-md-4 col-lg-3 mb-4">
			<div class="select-wrap">
				<span class="icon icon-arrow_drop_down"></span>
				<select name="offer-types" id="offer-types" class="form-control d-block rounded-0">
					<option value="">Diện tích khu nhà</option>
					<option value="1000">1000</option>
					<option value="800">800</option>
					<option value="600">600</option>
					<option value="400">400</option>
					<option value="200">200</option>
					<option value="100">100</option>
				</select>
			</div>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3 mb-4">
			<div class="select-wrap">
				<span class="icon icon-arrow_drop_down"></span>
				<select name="offer-types" id="offer-types" class="form-control d-block rounded-0">
					<option value="">Tình trạng nhà</option>
					<option value="Để bán">Để bán</option>
					<option value="Để thuê">Để thuê</option>
				</select>
			</div>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3 mb-4">
			<div class="select-wrap">
				<span class="icon icon-arrow_drop_down"></span>
				<select name="offer-types" id="offer-types" class="form-control d-block rounded-0">
					<option value="">Vị trí</option>
					<option value="United States">United States</option>
					<option value="United Kingdom">United Kingdom</option>
					<option value="Canada">Canada</option>
					<option value="Belgium">Belgium</option>
				</select>
			</div>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3 mb-4">
			<div class="select-wrap">
				<span class="icon icon-arrow_drop_down"></span>
				<select name="offer-types" id="offer-types" class="form-control d-block rounded-0">
					<option value="">Diện tích</option>
					<option value="1000">1000</option>
					<option value="800">800</option>
					<option value="600">600</option>
					<option value="400">400</option>
					<option value="200">200</option>
					<option value="100">100</option>
				</select>
			</div>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3 mb-4">
			<div class="select-wrap">
				<span class="icon icon-arrow_drop_down"></span>
				<select name="offer-types" id="offer-types" class="form-control d-block rounded-0">
					<option value="">Phòng ngủ</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5+">5+</option>
				</select>
			</div>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3 mb-4">
			<div class="select-wrap">
				<span class="icon icon-arrow_drop_down"></span>
				<select name="offer-types" id="offer-types" class="form-control d-block rounded-0">
					<option value="">Phòng tắm</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5+">5+</option>
				</select>
			</div>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3 mb-4">
			<div class="mb-4">
				<div id="slider-range" class="border-primary"></div>
				<input type="text" name="text" id="amount" class="form-control border-0 pl-0 bg-white" disabled="" />
			</div>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3 mb-4">
			<input type="submit" class="btn btn-primary btn-block form-control-same-height rounded-0" value="Tìm kiếm">
		</div>

	</form>
</div>

<div class="container text-center">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.637472851244!2d106.68055794907004!3d10.762397792293404!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f1953a6e961%3A0xc77e334f1510b975!2zxJDhuqFpIGjhu41jIEtob2EgaOG7jWMgVOG7sSBuaGnDqm4!5e0!3m2!1svi!2s!4v1577862820619!5m2!1svi!2s" width="1100" height="800" frameborder="0" style="border:0;" allowfullscreen="true"></iframe>
</div>
<div class="site-section site-section-sm bg-light">
	<div class="container">

		<div class="row">
			<div class="col-12">
				<div class="site-section-title mb-5">
					<h2>Bất động sản liên quan</h2>
				</div>
			</div>
		</div>

		<div class="row mb-5">
			<div class="col-md-6 col-lg-4 mb-4">
				<a href="chi_tiet" class="prop-entry d-block">
					<figure>
						<img src="user/images/img_1.jpg" alt="Image" class="img-fluid">
					</figure>
					<div class="prop-text">
						<div class="inner">
							<span class="price rounded">$1,930,000</span>
							<h3 class="title">853 S Lucerne Blvd</h3>
							<p class="location">Los Angeles, CA 90005</p>
						</div>
						<div class="prop-more-info">
							<div class="inner d-flex">
								<div class="col">
									<span>Khu vực:</span>
									<strong>240m<sup>2</sup></strong>
								</div>
								<div class="col">
									<span>Phòng ngủ:</span>
									<strong>2</strong>
								</div>
								<div class="col">
									<span>Phòng tắm:</span>
									<strong>2</strong>
								</div>
								<div class="col">
									<span>Số nhà kho:</span>
									<strong>1</strong>
								</div>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-6 col-lg-4 mb-4">
				<a href="chi_tiet" class="prop-entry d-block">
					<figure>
						<img src="user/images/img_2.jpg" alt="Image" class="img-fluid">
					</figure>
					<div class="prop-text">
						<div class="inner">
							<span class="price rounded">$2,438,000</span>
							<h3 class="title">853 S Lucerne Blvd</h3>
							<p class="location">Los Angeles, CA 90005</p>
						</div>
						<div class="prop-more-info">
							<div class="inner d-flex">
								<div class="col">
									<span>Area:</span>
									<strong>240m<sup>2</sup></strong>
								</div>
								<div class="col">
									<span>Phòng ngủ:</span>
									<strong>2</strong>
								</div>
								<div class="col">
									<span>Phòng tắm:</span>
									<strong>2</strong>
								</div>
								<div class="col">
									<span>Số nhà kho:</span>
									<strong>1</strong>
								</div>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-6 col-lg-4 mb-4">
				<a href="chi_tiet" class="prop-entry d-block">
					<figure>
						<img src="user/images/img_3.jpg" alt="Image" class="img-fluid">
					</figure>
					<div class="prop-text">
						<div class="inner">
							<span class="price rounded">$5,320,000</span>
							<h3 class="title">853 S Lucerne Blvd</h3>
							<p class="location">Los Angeles, CA 90005</p>
						</div>
						<div class="prop-more-info">
							<div class="inner d-flex">
								<div class="col">
									<span>Area:</span>
									<strong>240m<sup>2</sup></strong>
								</div>
								<div class="col">
									<span>Phòng ngủ:</span>
									<strong>2</strong>
								</div>
								<div class="col">
									<span>Phòng tắm:</span>
									<strong>2</strong>
								</div>
								<div class="col">
									<span>Số nhà kho:</span>
									<strong>1</strong>
								</div>
							</div>
						</div>
					</div>
				</a>
			</div>

		</div>
	</div>
</div>

<%- include('footer'); -%>